.nav-link {
    position: relative;
    /* color: #; */
    transition: color 0.3s;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #a23bf6;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}
