body {
  /* background-color: #111; */
  background-image: url('https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?cs=srgb&dl=pexels-lulizler-3165335.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Scroll dizayni */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #222;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 5px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}