@import "tailwindcss";

body {
    background-color: transparent;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

select {
    background-color: #1a1a1a;
    color: #00ffcc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #00ffcc;
    border-radius: 5px;
    appearance: none;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

::selection {
    background: linear-gradient(45deg, #ff007f, #7f00f1);
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 0, 255, 0.8), 0 0 10px rgba(255, 0, 255, 0.6);
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.5);
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #222;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(110deg, #ff007f, #7f00f1);
    border-radius: 10px;
    box-shadow: 0 0 15px #ff007f, 0 0 25px #7f00ff;
    animation: cyber-scroll 3s linear infinite;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 20px #ff007f, 0 0 30px #7f00ff;
    transition: box-shadow 0.3s ease;
}