/* Global styles or App.css */

.cursor {
    z-index: 99;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff007f;
    box-shadow: 0 0 10px #ff007f, 0 0 20px #ff007f, 0 0 30px #ff007f;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(2);
    }
}